language: node_js
env:
  - CXX=g++-4.8
node_js:
  - "node"
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
services:
  - postgresql
  - redis-server
before_script:
  - psql -c 'create database bvctesting;' -U postgres
after_success: 'npm run coveralls'

  