<h1>Admission</h1>

<h2>Enter Admission</h2>

<form method="POST" ng-submit='admit()'>
	<div class="form-group">
		<label for="patientToBeAdmitted">Patient</label>
		<select name="" id="patientToBeAdmitted" class='form-control ehr-input' ng-model='patientToBeAdmitted'>
			<option value="{{pt.patient_id}}" ng-repeat='pt in patients'>{{pt.last_name}}, {{pt.first_name}} {{pt.middle_initial}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="voluntary_status">Voluntary Status</label>
		<input id="voluntary_status" class="form-control ehr-input" type="text" ng-model="voluntary_status" placeholder="">
	</div>
	<div class="form-group">
		<label for="admitting_md">Admitting MD</label>
		<input id="admitting_md" class="form-control ehr-input" type="text" ng-model="admitting_md" placeholder="">
	</div>
	<div class="form-group">
		<label for="complaint">Complaint</label>
		<input id="complaint" class="form-control ehr-input" type="text" ng-model="complaint" placeholder="">
	</div>
	<div class="form-group">
		<label for="symptoms">Symptoms</label>
		<input id="symptoms" class="form-control ehr-input" type="text" ng-model="symptoms" placeholder="">
	</div>
	<div class="form-group">
		<label for="suicidal">Suicidal</label>
		<input id="suicidal" class="form-control ehr-input" type="checkbox" ng-model="suicidal" placeholder="">
	</div>
	<div class="form-group">
		<label for="suicidal_plan">Suicidal Plan</label>
		<input id="suicidal_plan" class="form-control ehr-input" type="text" ng-model="suicidal_plan" placeholder="">
	</div>
	<div class="form-group">
		<label for="homicidal">Homicidal</label>
		<input id="homicidal" class="form-control ehr-input" type="checkbox" ng-model="homicidal" placeholder="">
	</div>
	<div class="form-group">
		<label for="homicidal_who">Homicidal Who</label>
		<input id="homicidal_who" class="form-control ehr-input" type="text" ng-model="homicidal_who" placeholder="">
	</div>
	<div class="form-group">
		<label for="homicidal_plan">Homicidal Plan</label>
		<input id="homicidal_plan" class="form-control ehr-input" type="text" ng-model="homicidal_plan" placeholder="">
	</div>
	<div class="form-group">
		<label for="behavioral_health_hx">Behavioral Health History</label>
		<input id="behavioral_health_hx" class="form-control ehr-input" type="text" ng-model="behavioral_health_hx" placeholder="">
	</div>
	<div class="form-group">
		<label for="medical_hx">Medical History</label>
		<input id="medical_hx" class="form-control ehr-input" type="text" ng-model="medical_hx" placeholder="">
	</div>
	<div class="form-group">
		<label for="current_meds">Current Meds</label>
		<input id="current_meds" class="form-control ehr-input" type="text" ng-model="current_meds" placeholder="">
	</div>
	<div class="form-group">
		<label for="room">Room</label>
		<input id="room" class="form-control ehr-input" type="text" ng-model="room" placeholder="">
	</div>
	<div class="form-group">
		<label for="smoker">Smoker?</label>
		<input id="smoker" class="form-control ehr-input" type="checkbox" ng-model="smoker" placeholder="">
	</div>
		
	<button class="btn btn-default" type="submit">Admit</button>
</form>