<h1>Assessment</h1>

<ul>
	<li class='assessment' ng-repeat='assessment in assessments'>
		<a href="{{assessment.url}}">{{assessment.charted_at}} by {{assessment.nurse}}</a>
		<span ng-click='deleteAssessment(assessment)'>Delete</span>
	</li>
</ul>

<h1>Enter Your Assessment</h1>

<form method="POST" ng-submit='assess()'>
	<div class="form-group">
		<label for="oriented_person">Oriented To Person</label>
		<input id="oriented_person" class="form-control ehr-checkbox" type="checkbox" ng-model="assessment.oriented_person">
	</div>
	<div class="form-group">
		<label for="oriented_place">Oriented To Place</label>
		<input id="oriented_place" class="form-control ehr-checkbox" type="checkbox" ng-model="assessment.oriented_place">
	</div>
	<div class="form-group">
		<label for="oriented_time">Oriented To Date</label>
		<input id="oriented_time" class="form-control ehr-checkbox" type="checkbox" ng-model="assessment.oriented_time">
	</div>
	<div class="form-group">
		<label for="oriented_purpose">Oriented To Purpose</label>
		<input id="oriented_purpose" class="form-control ehr-checkbox" type="checkbox" ng-model="assessment.oriented_purpose">
	</div>
	<div class="form-group">
		<label for="suicidal">Suicidal</label>
		<input id="suicidal" class="form-control ehr-checkbox" type="checkbox" ng-model="assessment.suicidal">
	</div>
	<div class="form-group">
		<label for="suicidal_plan">Suicidal Plan</label>
		<input id="suicidal_plan" class="form-control ehr-input" type="text" ng-model="assessment.suicidal_plan" placeholder="">
	</div>
	<div class="form-group">
		<label for="homicidal">Homicidal</label>
		<input id="homicidal" class="form-control ehr-checkbox" type="checkbox" ng-model="assessment.homicidal">
	</div>
	<div class="form-group">
		<label for="homicidal_plan">Homicidal Plan</label>
		<input id="homicidal_plan" class="form-control ehr-input" type="text" ng-model="assessment.homicidal_plan" placeholder="">
	</div>
	<div class="form-group">
		<label for="visual_hallucinations">Visual Hallucinations</label>
		<input id="visual_hallucinations" class="form-control ehr-input" type="text" ng-model="assessment.visual_hallucinations" placeholder="">
	</div>
	<div class="form-group">
		<label for="audio_hallucinations">Audio Hallucinations</label>
		<input id="audio_hallucinations" class="form-control ehr-input" type="text" ng-model="assessment.audio_hallucinations" placeholder="">
	</div>
	<div class="form-group">
		<label for="tactile_hallucinations">Tactile Hallucinations</label>
		<input id="tactile_hallucinations" class="form-control ehr-input" type="text" ng-model="assessment.tactile_hallucinations" placeholder="">
	</div>
	<div class="form-group">
		<label for="hallucination_comments">Hallucination Comments</label>
		<input id="hallucination_comments" class="form-control ehr-input" type="text" ng-model="assessment.hallucination_comments" placeholder="">
	</div>
	<div class="form-group">
		<label for="affect">Affect</label>
		<input id="affect" class="form-control ehr-input" type="text" ng-model="assessment.affect" placeholder="">
	</div>
	<div class="form-group">
		<label for="appetite">Appetite</label>
		<input id="appetite" class="form-control ehr-input" type="text" ng-model="assessment.appetite" placeholder="">
	</div>
	<div class="form-group">
		<label for="appearance">Appearance</label>
		<input id="appearance" class="form-control ehr-input" type="text" ng-model="assessment.appearance" placeholder="">
	</div>
	<div class="form-group">
		<label for="speech">Speech</label>
		<input id="speech" class="form-control ehr-input" type="text" ng-model="assessment.speech" placeholder="">
	</div>
	<button class='btn btn-default' type='submit'>Assess</button>
</form>