<h1>Dashboard</h1>

<div class="row" ng-repeat='patient in patients'>
	<div class="col-sm-1 col-sm-offset-1">{{patient.room}}</div>
	<div class="col-sm-2">{{patient.last_name}}, {{patient.first_name}}</div>
	<div class="col-sm-2">{{patient.complaint}}</div>
	<div class="col-sm-1">1</div>
	<div class="col-sm-1">
		<p class='action' ng-click='goToAssess(patient)'>Assessment</p>
	</div>
	<div class="col-sm-1">
		<p class='action' ng-click='goToBroset(patient)'>Broset</p>
	</div>
	<div class="col-sm-1">
		<p class='action' ng-click='goToIntervention(patient)'>Intervention</p>
	</div>
	<div class="col-sm-1">
		<p class='action' ng-click='deletePatient(patient)'>Delete</p>
	</div>
</div>
