<h1>Dashboard</h1>

<div class="row dashboard" ng-repeat='admission in admissions'>
	<div class="col-md-1 col-md-offset-1">{{admission.room}}</div>
	<div class="col-md-2"><a href="{{admission.report_url}}">{{admission.last_name}}, {{admission.first_name}}</a></div>
	<div class="col-md-2">{{admission.complaint}}</div>
	<div class="col-md-1">1</div>
	<div class="col-md-1">
		<p class='action' ng-click='goToAssess(admission)'>Assessment</p>
	</div>
	<div class="col-md-1">
		<p class='action' ng-click='goToBroset(admission)'>Broset</p>
	</div>
	<div class="col-md-1">
		<p class='action' ng-click='goToIntervention(admission)'>Intervention</p>
	</div>
	<div class="col-md-1">
		<p class='delete' ng-click='deleteAdmission(admission)'>Delete</p>
	</div>
</div>
