<h1>Intervention</h1>

<h2>Enter Intervention</h2>

<ul>
	<li ng-repeat='intervention in interventions'>
		<a href="{{intervention.url}}">{{intervention.intervention_time}} -- {{intervention.intervention}} -- {{intervention.nurse}}</a>
		<span ng-click='deleteIntervention(intervention.intervention_id)'>delete</span>
	</li>
</ul>

<form method="POST" ng-submit='intervene()'>
	<div class="form-group">
		<label for="interventions">Interventions</label>
		<select id="interventions" class="form-control ehr-input" ng-model='intervention'>
			<option value="counseling">counseling</option>
			<option value="medication">medication</option>
			<option value="seclusion">seclusion</option>
		</select>
	</div>
	<div class="form-group">
		<label for="intervention_note">Intervention Note</label>
		<input id="intervention_note" class="form-control ehr-input" type="text" ng-model="intervention_note" placeholder="note" ng-model='intervention_note'>
	</div>
	<button class="btn btn-default" type="submit">Post</button>
</form>