<h1 class='inconsolata'>Login</h1>

<h2 class='inconsolata'>Enter Your Credentials</h2>

<form method='POST' ng-submit='login()'>
	<div class="form-group inconsolata">
		<label for="username">User Name</label>
		<input id="username" class="form-control ehr-input" type="text" ng-model="username" placeholder="username">
	</div>
	<div class="form-group inconsolata">
		<label for="password">Password</label>
		<input id="password" class="form-control ehr-input" type="password" ng-model="password" placeholder="...">
	</div>
	<button class="btn btn-default" type="submit">Login</button>
</form>
